@{
    ViewBag.Title = "Diary";
}

<div class="viewTitle">다이어리</div>
<div ng-controller="diaryController">
    <div class="text-right tbm">
        <button class="btn btn-sm btn-success" ng-click="goToWrite()"><strong>글쓰기</strong></button>
    </div>
    <div class="tbm" ng-init="getDiaryList()">
        <div ng-repeat="item in DiaryList">

        </div>
    </div>
</div>